body {
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h1 {
  color: #ff9722;
}

h2, h3, h4 {
  color: #27aae1;
}

.logo {
  margin-top: 10px;
}

.logo-header {
  text-indent: -9999px;
  line-height: 1px;
}

.image-descr {
  font-size: 0.75em;
  color: #797979;
}

.sidebar {
  margin-top: 25px;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.contact-container {
  min-height: 400px;
}

.disclaimer {
  color: #797979;
  font-size: 0.75em;
}

.aq-question {
  color: #ff9722;
}

.radio-label {
  margin-left: 15px;
}

.shake {
  animation: shakeSideways 100ms 1;
  -webkit-animation: shakeSideways 100ms 1;
  -o-animation: shakeSideways 100ms 1;
  -moz-animation: shakeSideways 100ms 1;
}

@keyframes shakeSideways {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 25px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: 15px;
  }

  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes shakeSideways {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 25px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: 15px;
  }

  100% {
    margin-left: 0;
  }
}

@-moz-keyframes shakeSideways {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 25px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: 15px;
  }

  100% {
    margin-left: 0;
  }
}

@-o-keyframes shakeSideways {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 25px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: 15px;
  }

  100% {
    margin-left: 0;
  }
}

.unstable1 {
  animation: unstable1 5s infinite;
  -webkit-animation: unstable1 5s infinite;
  -moz-animation: unstable1 5s infinite;
  -o-animation: unstable1 5s infinite;
}

@keyframes unstable1 {
  75% {
    font-size: 1em;
    color: #ff9722;
  }

  76% {
    font-size: 0.8em;
    color: #797979;
  }

  77% {
    margin-left: 0;
  }

  78% {
    font-size: 1em;
  }

  80% {
    color: #ff9722;
  }

  81% {
    margin-left: 0;
  }

  82% {
    margin-left: 20px;
  }

  83% {
    margin-left: 0;
  }
}

@-webkit-keyframes unstable1 {
  75% {
    font-size: 1em;
    color: #ff9722;
  }

  76% {
    font-size: 0.8em;
    color: #797979;
  }

  77% {
    margin-left: 0;
  }

  78% {
    font-size: 1em;
  }

  80% {
    color: #ff9722;
  }

  81% {
    margin-left: 0;
  }

  82% {
    margin-left: 20px;
  }

  83% {
    margin-left: 0;
  }
}

@-moz-keyframes unstable1 {
  75% {
    font-size: 1em;
    color: #ff9722;
  }

  76% {
    font-size: 0.8em;
    color: #797979;
  }

  77% {
    margin-left: 0;
  }

  78% {
    font-size: 1em;
  }

  80% {
    color: #ff9722;
  }

  81% {
    margin-left: 0;
  }

  82% {
    margin-left: 20px;
  }

  83% {
    margin-left: 0;
  }
}

@-o-keyframes unstable1 {
  75% {
    font-size: 1em;
    color: #ff9722;
  }

  76% {
    font-size: 0.8em;
    color: #797979;
  }

  77% {
    margin-left: 0;
  }

  78% {
    font-size: 1em;
  }

  80% {
    color: #ff9722;
  }

  81% {
    margin-left: 0;
  }

  82% {
    margin-left: 20px;
  }

  83% {
    margin-left: 0;
  }
}

.cta-box {
  text-align: center;
  margin-bottom: 35px;
}

.cta-header {
  color: #ff9722;
}

.twitch {
  color: #FFF;
  -webkit-animation: color-twitch 8s infinite;
  -moz-animation: color-twitch 8s infinite;
  -o-animation: color-twitch 8s infinite;
  animation: color-twitch 8s infinite;
}

@-webkit-keyframes color-twitch {
  0% {
    color: #FFF;
  }

  15% {
    color: #FFF;
  }

  16% {
    color: darkred;
  }

  18% {
    color: #FFF;
  }

  74% {
    color: #FFF;
  }

  75% {
    color: #AAA;
  }

  80% {
    color: #FFF;
  }

  85% {
    color: #FFF;
  }

  86% {
    color: darkgreen;
  }

  88% {
    color: orange;
  }

  90% {
    color: #FFF;
  }

  100% {
    color: #FFF;
  }
}

@-moz-keyframes color-twitch {
  0% {
    color: #FFF;
  }

  15% {
    color: #FFF;
  }

  16% {
    color: darkred;
  }

  18% {
    color: #FFF;
  }

  74% {
    color: #FFF;
  }

  75% {
    color: #AAA;
  }

  80% {
    color: #FFF;
  }

  85% {
    color: #FFF;
  }

  86% {
    color: darkgreen;
  }

  88% {
    color: orange;
  }

  90% {
    color: #FFF;
  }

  100% {
    color: #FFF;
  }
}

@-o-keyframes color-twitch {
  0% {
    color: #FFF;
  }

  15% {
    color: #FFF;
  }

  16% {
    color: darkred;
  }

  18% {
    color: #FFF;
  }

  74% {
    color: #FFF;
  }

  75% {
    color: #AAA;
  }

  80% {
    color: #FFF;
  }

  85% {
    color: #FFF;
  }

  86% {
    color: darkgreen;
  }

  88% {
    color: orange;
  }

  90% {
    color: #FFF;
  }

  100% {
    color: #FFF;
  }
}

@keyframes color-twitch {
  0% {
    color: #FFF;
  }

  15% {
    color: #FFF;
  }

  16% {
    color: darkred;
  }

  18% {
    color: #FFF;
  }

  74% {
    color: #FFF;
  }

  75% {
    color: #AAA;
  }

  80% {
    color: #FFF;
  }

  85% {
    color: #FFF;
  }

  86% {
    color: darkgreen;
  }

  88% {
    color: orange;
  }

  90% {
    color: #FFF;
  }

  100% {
    color: #FFF;
  }
}

.twitch-alot {
  -webkit-animation: twith-alot 10ms infinite;
  -moz-animation: twith-alot 10ms infinite;
  -o-animation: twith-alot 10ms infinite;
  animation: twith-alot 10ms infinite;
}

@keyframes twith-alot {
  0% {
    left: 0;
  }

  25% {
    left: 20px;
  }

  36% {
    left: 0;
  }

  58% {
    right: 0;
  }

  77% {
    right: 30px;
  }

  88% {
    right: 0;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes twith-alot {
  0% {
    left: 0;
  }

  25% {
    left: 20px;
  }

  36% {
    left: 0;
  }

  58% {
    right: 0;
  }

  77% {
    right: 30px;
  }

  88% {
    right: 0;
  }

  100% {
    left: 0;
  }
}

@-moz-keyframes twith-alot {
  0% {
    left: 0;
  }

  25% {
    left: 20px;
  }

  36% {
    left: 0;
  }

  58% {
    right: 0;
  }

  77% {
    right: 30px;
  }

  88% {
    right: 0;
  }

  100% {
    left: 0;
  }
}

@-o-keyframes twith-alot {
  0% {
    left: 0;
  }

  25% {
    left: 20px;
  }

  36% {
    left: 0;
  }

  58% {
    right: 0;
  }

  77% {
    right: 30px;
  }

  88% {
    right: 0;
  }

  100% {
    left: 0;
  }
}

.position-twitch {
  -webkit-animation: ptwitch 6s infinite;
}

@-webkit-keyframes ptwitch {
  0% {
    right: 35px;
  }

  2% {
    right: 10px;
  }

  3% {
    right: 50px;
  }

  5% {
    right: 35px;
  }

  100% {
    right: 35px;
  }
}

.h-im {
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 230px;
  height: 380px;
  display: none;
  background: url("../img/hacktivist-IM-bg.jpg");
  border: 5px solid #797979;
}

.h-im img {
  margin-bottom: 15px;
}

.hack-msg {
  margin-left: 20px;
  margin-right: 20px;
}

.hack-msg h3 {
  color: #d84700;
  margin-bottom: 0;
  font-size: 1em;
}

.hack-msg p {
  font-size: 0.9em;
  margin-top: 0;
}

.typed-cursor {
  display: none;
}

.cs-im {
  position: fixed;
  top: 135px;
  left: 200px;
  width: 230px;
  height: 380px;
  display: none;
  background: #FFF;
  border: 5px solid #27aae1;
}

.cs-im img {
  margin-bottom: 15px;
  border-bottom: 2px solid #27aae1;
}

.cs-im h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.cs-im p {
  font-size: 0.9em;
  margin-top: 0;
}

.cs-msg {
  margin-left: 20px;
  margin-right: 20px;
}
