.twitch {

	color: #FFF;
	-webkit-animation: color-twitch 8s infinite;
	-moz-animation: color-twitch 8s infinite;
	-o-animation: color-twitch 8s infinite;
	animation: color-twitch 8s infinite;

}

@-webkit-keyframes color-twitch {

	0% { color: #FFF; }
	15% { color: #FFF; }
	16% { color: darkred; }
	18% { color: #FFF; }
	74% { color: #FFF; }
	75% { color: #AAA; }
	80% { color: #FFF; }
	85% { color: #FFF; }
	86% { color: darkgreen; }
	88% { color: orange; }
	90% { color: #FFF; }
	100% { color: #FFF; }

}

@-moz-keyframes color-twitch {

	0% { color: #FFF; }
	15% { color: #FFF; }
	16% { color: darkred; }
	18% { color: #FFF; }
	74% { color: #FFF; }
	75% { color: #AAA; }
	80% { color: #FFF; }
	85% { color: #FFF; }
	86% { color: darkgreen; }
	88% { color: orange; }
	90% { color: #FFF; }
	100% { color: #FFF; }

}

@-o-keyframes color-twitch {

	0% { color: #FFF; }
	15% { color: #FFF; }
	16% { color: darkred; }
	18% { color: #FFF; }
	74% { color: #FFF; }
	75% { color: #AAA; }
	80% { color: #FFF; }
	85% { color: #FFF; }
	86% { color: darkgreen; }
	88% { color: orange; }
	90% { color: #FFF; }
	100% { color: #FFF; }

}

@keyframes color-twitch {

	0% { color: #FFF; }
	15% { color: #FFF; }
	16% { color: darkred; }
	18% { color: #FFF; }
	74% { color: #FFF; }
	75% { color: #AAA; }
	80% { color: #FFF; }
	85% { color: #FFF; }
	86% { color: darkgreen; }
	88% { color: orange; }
	90% { color: #FFF; }
	100% { color: #FFF; }

}

.twitch-alot {

	-webkit-animation: twith-alot 10ms infinite;
	-moz-animation: twith-alot 10ms infinite;
	-o-animation: twith-alot 10ms infinite;
	animation: twith-alot 10ms infinite;

}

@keyframes twith-alot {

	0% { left: 0 }
	25% { left: 20px; }
	36% { left: 0; }
	58% { right: 0; }
	77% { right: 30px; }
	88% { right: 0 }
	100% { left: 0; }

}

@-webkit-keyframes twith-alot {

	0% { left: 0 }
	25% { left: 20px; }
	36% { left: 0; }
	58% { right: 0; }
	77% { right: 30px; }
	88% { right: 0 }
	100% { left: 0; }

}

@-moz-keyframes twith-alot {

	0% { left: 0 }
	25% { left: 20px; }
	36% { left: 0; }
	58% { right: 0; }
	77% { right: 30px; }
	88% { right: 0 }
	100% { left: 0; }

}

@-o-keyframes twith-alot {

	0% { left: 0 }
	25% { left: 20px; }
	36% { left: 0; }
	58% { right: 0; }
	77% { right: 30px; }
	88% { right: 0 }
	100% { left: 0; }

}

.position-twitch {

	-webkit-animation: ptwitch 6s infinite;

}

@-webkit-keyframes ptwitch {

	0% { right: 35px; }
	2% { right: 10px; }
	3% { right: 50px; }
	5% { right: 35px; }
	100% { right: 35px; }

}

.h-im {

	position: fixed;
	bottom: 35px;
	right: 35px;
	width: 230px;
	height: 380px;
	display: none;
	background: url('../img/hacktivist-IM-bg.jpg');
	border: 5px solid $gray;

}

.h-im img {

	margin-bottom: 15px;

}

.hack-msg {

	margin-left: 20px;
	margin-right: 20px;

}

.hack-msg h3 {

	color: #d84700;
	margin-bottom: 0;
	font-size: 1em;

}

.hack-msg p {

	font-size: 0.9em;
	margin-top: 0;

}

.typed-cursor{
    display: none;
}

.cs-im {

	position: fixed;
	top: 135px;
	left: 200px;
	width: 230px;
	height: 380px;
	display: none;
	background: #FFF;
	border: 5px solid $blue;

}

.cs-im img {

	margin-bottom: 15px;
	border-bottom: 2px solid $blue;

}

.cs-im h3 {

	font-size: 1em;
	margin-bottom: 0;

}

.cs-im p {

	font-size: 0.9em;
	margin-top: 0;

}

.cs-msg {

	margin-left: 20px;
	margin-right: 20px;

}